---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: ambassador
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: dadtmt/client
        ports:
        - name: http
          containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: ambassador
spec:
  ports:
  - name: http
    port: 80
    targetPort: 3000
  selector:
    app: client