---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: query
  namespace: ambassador
spec:
  replicas: 1
  selector:
    matchLabels:
      app: query
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: query
    spec:
      containers:
      - name: query
        image: dadtmt/query
        ports:
        - name: http
          containerPort: 5003
---
apiVersion: v1
kind: Service
metadata:
  name: query
  namespace: ambassador
spec:
  ports:
  - name: http
    port: 80
    targetPort: 5003
  selector:
    app: query