---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  namespace: ambassador
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - name: vote
        image: dadtmt/vote
        ports:
        - name: http
          containerPort: 5002
---
apiVersion: v1
kind: Service
metadata:
  name: vote
  namespace: ambassador
spec:
  ports:
  - name: http
    port: 80
    targetPort: 5002
  selector:
    app: vote